@font-face {
    font-family: marcellusSC;
    src: url(../font/MarcellusSC-Regular.ttf);
}
@font-face {
    font-family: mvboli;
    src: url(../font/mvboli.ttf);
}
@font-face {
    font-family: RussoOne;
    src: url(../font/RussoOne-Regular.ttf);
}
::-webkit-scrollbar {
    width: 6px;
    background: var(--lightwhite);
}
::-webkit-scrollbar-track {background: transparent;}
::-webkit-scrollbar-thumb {
    background: var(--darkwhite);
    border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {background: var(--brown);}

@keyframes upDown {
    50% {top: 46px;}
    100% {top: 26px;}
}
:root {
    --lightwhite: #e8e8e8;
    --darkwhite: #B8B8B8;
    --lightgrey: #b8b8b8;
    --grey: #636363;
    --darkgrey: #5e5e5e;
    --darkergrey: #2c2c2c;
    --brown: #514740;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body a {text-decoration: none;}
#headphone {
    top: 26px;
    position: absolute;
    width: 25%;
    height: auto;
    right: 216px;
    animation-name: upDown;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.img-head img {
    width: 100%;
    height: 100%;
}
header {position: relative;}
header a {
    font-family: marcellusSC;
    font-size: 48px;
    position: absolute;
    top: 15%;
    left: 22%;
    color: var(--darkergrey);
}
.text:hover {color: var(--grey);}
.text {color: var(--darkergrey)}

.playing {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    bottom: 20%;
    left: 0%;
    right: 0%;
}
.playing button {
    background: none;
    border: none;
    width: 7%;
    margin-right:1%;
    margin-left: 1%;
}
.playing img {width: 100%;}
.playing:first-child img, .playing:last-child img {width: 58%;}

.sign-in, .sign-sign, .sign-up {
    font-size: 11px;
    font-family: cursive;
    position: absolute;
    top: 16px;
}
.sign-in {left: 15%;}
.sign-sign {left: 19%;}
.sign-up {left: 20%;}
.sign-in:hover,
.sign-up:hover {
    color: var(--darkgrey);
}
.muzic-list {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    line-height: 40%;
    position: relative;
    max-height: 56vh;
    overflow-y: scroll;
    width: 80vw;
    margin: 80px auto;
}
.muzic-list .one a,
.muzic-list .two a,
.muzic-list .three a,
.muzic-list .four a {
    position: absolute;
    right: 0%;
    left: 0%;
    font-family: mvboli;
}
.muzic-list .one a {
    top: 7%;
    color: var(--lightgrey);
}
.muzic-list .two a {
    color: var(--darkgrey);
    top: 30%;
}
.muzic-list .three a {
    color: var(--darkgrey);
    top: 57%;
}
.muzic-list .four a {
    color: var(--darkgrey);
    top: 81%;
}
@media only screen and (min-width: 576px) {.muzic-list img {width: 50%;}}
@media only screen and (max-width: 576px) {
    header .text {font-size: 10px;}
    header .text img {width: 3%;}
    .muzic-list img {width: 64%;}
    .muzic-list .one, .two, .three, .four {
        height: 100%;
        font-size: 60%;
    }
}

/*
    X-Small                 <576px
    Small                   ≥576px
    Medium                  ≥768px
    Large                   ≥992px
    Extra large             ≥1200px
    Extra extra large       ≥1400px
*/
